includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - src

    # The level 8 is the highest level
    level: 9

    ignoreErrors:

    excludePaths:
             - app/Models/Concerns/HasUuid.php
             - app/Http/Resources/Api/ContactResource.php


    checkMissingIterableValueType: false

    universalObjectCratesClasses:
                - Illuminate\Http\Resources\Json\JsonResource

